<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.makgol.stores.repository.StoresRepository">

    <select id="findByIdPlaceUrl" resultType="com.org.makgol.stores.vo.StoreResponseVo" parameterType="String">
        SELECT *
        FROM stores
        WHERE place_url = #{place_url}
    </select>

    <select id="findStoreList" resultType="com.org.makgol.stores.dto.ResponseStoreListDto"
            parameterType="hashmap">
        SELECT *
        FROM mak_gol.stores
        WHERE category = #{category}
          AND 1000 > ST_DISTANCE_SPHERE(POINT(longitude, latitude), POINT(#{longitude}, #{latitude}));
    </select>

    <select id="findStoreIdWithPlaceName" resultType="String" parameterType="String">
        SELECT id
        FROM mak_gol.stores
        WHERE name = #{name}
    </select>

    <select id="findStoreMenuWithId" resultType="com.org.makgol.stores.dto.StoreMenuDto" parameterType="String">
        SELECT menu, price
        FROM mak_gol.menus
        WHERE store_id = #{storeId}
    </select>

</mapper>
