<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.makgol.boards.repository.BoardSuggestionRepository">

    <resultMap id="boardResult" type="com.org.makgol.boards.vo.BoardVo">
        <result property="b_id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="hit" column="hit"/>
        <result property="title" column="title"/>
        <result property="date" column="date"/>
        <result property="contents" column="contents"/>
        <result property="category" column="category"/>
        <result property="sympathy" column="sympathy"/>
        <result property="name" column="name"/>
        <result property="attachment" column="attachment"/>
    </resultMap>


    <select id="selectAllSuggestionBoard" resultMap="boardResult" parameterType="com.org.makgol.boards.vo.BoardVo">
        SELECT b.id,
               b.user_id,
               b.hit,
               b.title,
               b.date,
               b.contents,
               b.category,
               b.sympathy,
               u.name,
               u.photo
        FROM boards AS b
                 JOIN users AS u ON b.user_id = u.id
        WHERE category = 'suggestion'
        ORDER BY date DESC
    </select>

    <insert id="insertSuggestionBoard" parameterType="com.org.makgol.boards.vo.BoardVo">
        INSERT INTO boards (user_id, title, date, contents, category, attachment)
        VALUES (#{user_id}, #{title}, NOW(), #{contents}, #{category}, #{attachment})
    </insert>

    <select id="showDetailSuggestionBoard" resultMap="boardResult"
            parameterType="com.org.makgol.boards.vo.BoardVo">
        SELECT b.id,
               b.user_id,
               b.hit,
               b.title,
               b.date,
               b.contents,
               b.category,
               b.sympathy,
               b.attachment,
               u.name,
               u.photo
        FROM boards AS b
                 JOIN users AS u ON b.user_id = u.id
        WHERE b.id = #{id}
    </select>

    <update id="updateHit" parameterType="int">
        UPDATE boards
        SET hit =
                hit + 1
        WHERE id = #{id}
    </update>

    <insert id="insertComment" parameterType="com.org.makgol.comment.vo.CommentRequestVo">
        INSERT INTO comments(user_id, board_id, date, content, nickname)
        VALUES (#{user_id},
                #{board_id}, now(), #{content}, #{nickname})
    </insert>

    <select id="selectCommentList" resultType="com.org.makgol.comment.vo.CommentResponseVo"
            parameterType="int">
        SELECT *
        FROM comments
        JOIN users on comments.user_id = users.id
        WHERE board_id = #{board_id}
    </select>

    <update id="updateComment" parameterType="com.org.makgol.comment.vo.CommentRequestVo">
        UPDATE comments
        SET nickname=#{nickname},
            content=#{content},
            mod_date=now()
        where id = #{id}
    </update>

    <delete id="deleteComment" parameterType="int">
        DELETE
        FROM comments
        WHERE id = #{id}
    </delete>

    <select id="selectBoard" resultMap="boardResult" parameterType="int">
        SELECT *
        FROM boards
        WHERE id = #{b_id}
    </select>

    <update id="updateBoard" parameterType="com.org.makgol.boards.vo.BoardVo">

        UPDATE boards
        SET title=#{title},
            contents=#{contents},
            attachment=#{attachment}
        WHERE id = #{b_id}

    </update>


    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM boards
        WHERE id = #{id}
    </delete>

    <select id="selectSearchBoard" resultMap="boardResult"
            parameterType="hashmap">
        SELECT b.id AS b_id, b.user_id, b.hit, b.title, b.date, b.contents,
        b.category, b.sympathy, u.name, u.photo
        FROM boards AS b
        JOIN users AS u
        ON b.user_id = u.id
        WHERE category = 'suggestion'
        <choose>
            <when test="searchOption == 'name'">
                AND u.name = #{searchWord}
            </when>
            <when test="searchOption == 'title'">
                AND b.title LIKE CONCAT('%', #{searchWord}, '%')
            </when>
            <when test="searchOption == 'contents'">
                AND b.contents LIKE CONCAT('%', #{searchWord}, '%')
            </when>
        </choose>
    </select>

    <select id="selectUserLikeStatus" resultType="int" parameterType="com.org.makgol.boards.vo.BoardVo">
        SELECT count(*)
        FROM board_likes
        WHERE b_id = #{b_id}
          AND user_id = #{user_id}
    </select>


    <insert id="insertBoardLike" parameterType="com.org.makgol.boards.vo.BoardVo">
        INSERT INTO board_likes(b_id, user_id)
        VALUES (#{b_id}, #{user_id})
    </insert>

    <delete id="deleteBoardLike" parameterType="com.org.makgol.boards.vo.BoardVo">
        DELETE FROM board_likes
        WHERE b_id = #{b_id}
          AND user_id = #{user_id}
    </delete>


    <select id="selectLikeCount" resultType="int" parameterType="int">
        SELECT count(*)
        FROM board_likes
        WHERE b_id = #{b_id};
    </select>

    <update id="updateBoardSympathy" parameterType="map">
        UPDATE boards
        SET sympathy=#{totalLike}
        WHERE id = #{b_id}
    </update>

    <delete id="deleteHistoryBoard" parameterType="List">
        DELETE FROM boards
        WHERE
        <foreach collection="idList" item="id" separator=" OR " open="(" close=")">
            id = #{id}
        </foreach>
    </delete>

</mapper>