<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.makgol.users.repository.UsersRepository">
    <resultMap id="boardResult" type="com.org.makgol.boards.vo.BoardVo">
        <result property="b_id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="hit" column="hit"/>
        <result property="title" column="title"/>
        <result property="date" column="date"/>
        <result property="contents" column="contents"/>
        <result property="category" column="category"/>
        <result property="sympathy" column="sympathy"/>
        <result property="name" column="name"/>
        <result property="attachment" column="attachment"/>
    </resultMap>


    <insert id="saveUser" parameterType="com.org.makgol.users.vo.UsersRequestVo">
        INSERT INTO users (name, email, password, phone, photo, photo_path, date, address, longitude, latitude)
        VALUES (#{name}, #{email}, #{password}, #{phone}, #{photo}, #{photo_path}, now(), #{address}, #{longitude}, #{latitude})
    </insert>

    <select id="findUserEmail" parameterType="String">
        SELECT email FROM users WHERE email = #{email}
    </select>

    <select id="duplicationUserEmail" resultType="String" parameterType="String">
        SELECT email FROM users WHERE email = #{email}
    </select>

    <select id="selectUser" resultType="com.org.makgol.users.vo.UsersResponseVo" parameterType="String">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <select id="findUserByEmail" resultType="com.org.makgol.users.vo.UsersResponseVo" parameterType="String">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <update id="updateUserInfo" parameterType="com.org.makgol.users.vo.UsersRequestVo">
        UPDATE users SET password=#{password}, phone=#{phone}, address=#{address}, longitude=#{longitude}, latitude=#{latitude}
        WHERE id=#{id}
    </update>

    <update id="updateUserPhotoInfo" parameterType="com.org.makgol.users.vo.UsersRequestVo">
        UPDATE users SET password=#{password}, phone=#{phone}, photo=#{photo}, photo_path=#{photo_path}, address=#{address}, longitude=#{longitude}, latitude=#{latitude}
        WHERE id=#{id}
    </update>

    <select id="selectMyStoreList" resultType="com.org.makgol.stores.vo.StoreResponseVo" parameterType="int">
        SELECT S.id, S.name, S.address, S.phone, S.photo FROM stores S
        JOIN store_likes SL
        ON S.id=SL.store_id
        WHERE SL.user_id = #{user_id}
    </select>

    <select id="selectMyPostList" resultMap="boardResult" parameterType="int">
        SELECT * FROM boards WHERE user_id = #{user_id}
        ORDER BY date DESC;
    </select>

    <select id="selectMyCommentList" resultType="com.org.makgol.comment.vo.CommentResponseVo" parameterType="int">
        SELECT * FROM comments
        JOIN boards
        ON comments.board_id = boards.id
        WHERE comments.user_id = #{user_id}
        ORDER BY comments.date DESC;
    </select>

    <select id="selectMyLikePostList" resultType="com.org.makgol.boards.vo.BoardLikeVo" parameterType="int">
        SELECT BL.id, BL.b_id, BL.user_id my_id, B.user_id, B.hit, B.title, B.category, B.sympathy, B.date, U.name
        FROM board_likes BL
        JOIN boards B ON BL.b_id = B.id
        JOIN users U ON B.user_id = U.id
        WHERE BL.user_id = #{user_id}
        ORDER BY B.date DESC;
    </select>

    <select id="updatePassword" parameterType="Map">
        UPDATE users SET password = #{newPassword} WHERE email = #{userEmail}
    </select>

    <select id="findByEmail" resultType="com.org.makgol.users.vo.Users" parameterType="String">
        SELECT * FROM users WHERE email = #{email}
    </select>

</mapper>