* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

#map {
    max-width: 1930px;
    height: 818px;
    z-index: 1;
}

.none {
    display: none;
}

.button_style {
    outline: none;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background: white;
    -webkit-appearance: none;
    font-weight: bold;
    color: #ff8a00;
    height: 35px;
    vertical-align: middle;
}

.button_style:hover {
    background: #ff8a00;
    color: white;
    cursor: pointer;
}

.selected_button {
    background-color: orange;
    color: black;
}

#map .shop_info_area {
    position: absolute;
    width: 472px;
    background: #ffeeae;
    z-index: 999;
    top: 10px;
    left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#map .shop_info_area .shop_info_head {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80px;
    background: #ffe286;
    border-radius: 20px 20px 0 0;
}

#map .shop_info_area .shop_info_head .head_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}

#map .shop_info_area .shop_info_head .head_box #search_keyword {
    font-size: 27px;
    color: #000000;
    text-align: center;
    letter-spacing: 5px;
}

#map .shop_info_area .shop_info_head .head_box #option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 45px;
    background: white;
    border: 2px solid #a9954e;
    border-radius: 10px;
    font-size: 13px;
}

#map .shop_info_area .shop_info_head .head_box #option .buttons {
    display: block;
}

#map .shop_info_area .shop_info_list {
    background: white;
    height: 690px;
    overflow-y: scroll;
}

#map .shop_info_area .shop_info_list::-webkit-scrollbar {
    width: 12px;
}

#map .shop_info_area .shop_info_list::-webkit-scrollbar-thumb {
    background-color: #debf5e;
}

#map .shop_info_area .shop_info_list::-webkit-scrollbar-track {
    background-color: #f3e7d0;
}

#map .shop_info_area .shop_info_list {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

#map .shop_info_area .shop_info_list .shop_info_item {
    height: 140px;
    width: 420px;
    margin: 20px;
    padding: 13px;
    background: #ffffff;
    border: 3px solid #ffe286;
    border-radius: 6px;
}

#map .shop_info_area .shop_info_list .shop_info_item:hover {
    border: 3px solid #ffa500;
    background: #fdf97e;
}

#map .shop_info_area .shop_info_list .shop_info_item .top_item {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

#map .shop_info_area .shop_info_list .shop_info_item #place_name {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    flex-grow: 3;
}

#map .shop_info_area .shop_info_list .shop_info_item .dibs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #fffd9b;
    color: #3a2102;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 3px;
    outline: none;
    flex-grow: 0;
    border: none;
}

#map .shop_info_area .shop_info_list .shop_info_item .dibs:hover {
    background: #3a2102;
    color: #fff100;
}

#map .shop_info_area .shop_info_list .shop_info_item #likes {
    color: red;
    font-size: 20px;
    flex-grow: 0;
}

#map .shop_info_area .shop_info_list .shop_info_item #place_name:hover {
    text-decoration: underline;
}

#map .shop_info_area .shop_info_list .shop_info_item .middle_item {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 40px;
}

#map .shop_info_area .shop_info_list .shop_info_item .middle_item #address_name {
    display: flex;
    justify-content: left;
    letter-spacing: -2px;
    color: #777747;
    flex-grow: 1;
}

#map .shop_info_area .shop_info_list .shop_info_item #is_opened {
    margin-right: 10px;
    flex-grow: 0;
}

#map .shop_info_area .shop_info_list .shop_info_item .middle_item #distance {
    color: yellowgreen;
    flex-grow: 0;
}

#map .shop_info_area .shop_info_list .shop_info_item .under_item {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

#map .shop_info_area .shop_info_list .shop_info_item .under_item #phone {
    color: orange;
    display: inline-block;
}

#map .shop_info_area .shop_info_list .shop_info_item .under_item #detail {
    /*margin-left: 80px;*/
    color: deepskyblue;
}

#map .shop_info_area .shop_info_footer {
    display: flex;
    justify-content: center;
    background: #ffe286;
    border-radius: 0 0 20px 20px;
    height: 30px;
}

#map .shop_info_area .shop_info_footer .shop_page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
    padding: 7px 7px 15px;
    width: 150px;
    border-radius: 6px;
}

#map .dibs_shop_area {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 997;
    width: 320px;
    height: 540px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

#map .dibs_shop_area .dibs_shop_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #ffe286;
    border-radius: 12px 12px 0 0;
}

#map .dibs_shop_area .dibs_shop_head .dibs_shop_count {
    margin-left: 10px;
    flex-grow: 1;
    width: 25px;
}

#map .dibs_shop_area .dibs_shop_head .dibs_shop_header {
    flex-grow: 3;
}

#map .dibs_shop_area .dibs_shop_head .delete_all_dibs {
    margin-right: 10px;
    visibility: hidden;
    flex-grow: 1;
    width: 30px;
    height: 25px;
    border: none;
    outline: none;
    background-color: #3a3a3a;
    color: #ec6200;
    border-radius: 5px;
    cursor: pointer;
}

#map .dibs_shop_area .dibs_shop_list {
    display: flex;
    flex-direction: column;
    height: 500px;
}

#map .dibs_shop_area .dibs_shop_list::-webkit-scrollbar {
    width: 12px;
}

#map .dibs_shop_area .dibs_shop_list::-webkit-scrollbar-thumb {
    background-color: #debf5e;
}

#map .dibs_shop_area .dibs_shop_list::-webkit-scrollbar-track {
    background-color: #f3e7d0;
}

#map .dibs_shop_area .dibs_shop_list .dibs_shop_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 40px;
    background: #ffffff;
    border: 3px solid #ffe286;
    border-radius: 6px;
}

#map .dibs_shop_area .dibs_shop_list .dibs_shop_item:hover {
    border: 3px solid #ffa500;
    background: #fdf97e;
}

#map .dibs_shop_area .dibs_shop_list .dibs_shop_item .shop_name {
    margin-left: 10px;
}

#map .dibs_shop_area .dibs_shop_list .dibs_shop_item .shop_name:hover {
    text-decoration: underline;
    font-weight: bolder;
}

#map .dibs_shop_area .dibs_shop_list .dibs_shop_item .delete_button {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    color: red;
    cursor: pointer;
    font-size: 11px;
}

#map .dibs_shop_area .dibs_shop_footer {
    height: 20px;
    background-color: #ffe286;
    border-radius: 0 0 12px 12px;
}

#map .guide_line {
    z-index: 998;
    position: absolute;
    width: 320px;
    height: 180px;
    background: white;
    border: 7px solid #ffe286;
    border-radius: 12px;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
}

#map .guide_line .head_box {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map .guide_line .content_box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#map .guide_line .content_box p {
    font-size: 14px;
    word-spacing: 2px;
    margin-bottom: 5px;
    color: #0fdec0;
}

#map .guide_line li {
    margin-bottom: 2px;
}

#map .guide_line span:nth-child(1) {
    font-weight: bolder;
    font-size: 15px;
}

#map .guide_line span:nth-child(2) {
    font-size: 14px;
}

#map .guide_line li:nth-child(1) > span:nth-child(1) {
    color: #eb675e;
}

#map .guide_line li:nth-child(2) > span:nth-child(1) {
    color: rgb(85, 153, 255);
}

#map .guide_line li:nth-child(3) > span:nth-child(1) {
    color: rgb(34, 177, 76);
}

#map .marker {
    color: #2c2105;
    border: none;
    font-size: 12px;
    padding: 20px;
    outline: none;
    text-align: center;
}