@charset "UTF-8";

body{
    background-color:#ffeed2;
}

ul, li {
    list-style: none;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #cdcaca;
    font-size: 24px;
    font-family: "Noto Sans KR", sans-serif;
}

button.active {
    color: black;
    font-weight: bold;
}

#category_main_div {
    margin : 30px  0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.category_main_ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:600px;
}

.category_main_ul li {
    text-align: center;
}

.category_list_ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category_list_ul li {
    width: 24%;
}

#category_list_div {
    width: 1200px;
    margin: 0 auto;
}

.category_list_ul li {
    border-radius: 10px;
    border: 2px solid #ffe286;
    height: 300px;
    line-height: 300px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.menu_list:hover .menu_gogo {
    transition: all 0.6s;
    opacity: 1;
    transform: translateY(-30px);
}

.menu_list:hover img {
    transition: all 0.6s;
    transform: scale(1.2);
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
    filter: brightness(50%);
    position: absolute;
}

.menu_name {
    color: #fff;
    z-index: 997;
    font-family: 'Gamja Flower', sans-serif;
    font-size: 55px;
}

.menu_gogo {
    position: absolute;
    top: 50%;
    opacity: 0;
    color: #fff;
    z-index: 997;
    font-size: 16px;
}

.fileUpload {
    position: absolute;
    top:-40%;
    z-index:998;
}

.fa-image{
    color:white;
}

.form_button {
    position: absolute;
    top: 50%;
    right: 10%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #cdcaca;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
}