* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}

#header {
  position: relative;
  height: 100px;
  font-size: 20px;
  z-index: 998;
  color: #000;
  background-color: #fff;
}

#header .all_category {
  position: absolute;
  left: 0;
  display: flex;
  font-weight: bold;
}

#header .all_category .show_category a {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header .all_category .show_category a i {
  font-size: 30px;
}

#header .all_category .main_category {
  display: flex;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 100%;
  transition: 0.5s;
  overflow: hidden;
}

#header .all_category .main_category.on {
  width: 800px;
}

#header .all_category .main_category > li {
  position: relative;
  white-space: nowrap;
}

#header .all_category .main_category > li > a {
  flex-wrap: nowrap;
  display: inline-block;
  margin: 0 15px;
  font-size: 18px;
}

#header .all_category .main_category > li:hover > a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #ffa500;
}

#header .all_category .main_category .sub_category {
  display: none;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  font-size: 16px;
  font-weight: 100;
  width: 600px;
}

#header .all_category .main_category .sub_category .menu_option {
  padding: 20px;
  width: 25%;
  border-right: 2px solid #eee;
}

#header .all_category .main_category .sub_category .menu_option:last-child {
  border: none;
}

#header .all_category .main_category .sub_category .menu_option > a {
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0;
}

#header .all_category .main_category .sub_category .menu_option li a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555;
}

#header .all_category .main_category .sub_category .menu_option li a:hover {
  color: #555;
  font-weight: bold;
}

#header .img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 90px;
  background-color: #ffe16f;
  border-radius: 20px;
}

#header .userTab {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 30px;
}

#header .userTab .welcome {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

#header .userTab .welcome .weather_info .address {
  color: #666;
}

#header .userTab .welcome .weather_info .address .fa-location-dot {
  color: #ffa500;
}

#header .userTab .welcome .user_info {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

#header .userTab .welcome .user_info span {
  padding: 5px;
}

#header .userTab .welcome .user_info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
}

#header .userTab .depth1 {
  display: flex;
  justify-content: space-between;
}

#header .userTab .depth1 > li > a {
  display: inline-block;
  margin: 15px;
  font-weight: bold;
}

#header .userTab .depth1 > li:nth-child(1) {
  position: relative;
}

#header .userTab .depth1 .depth2 {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  padding: 10px 20px;
}

#header .userTab .depth1 .depth2 li {
  border-bottom: 1px solid #ddd;
}

#header .userTab .depth1 .depth2 li:last-child {
  border-bottom: none;
}

#header .userTab .depth1 .depth2 li a {
  display: inline-block;
  padding: 7px 0;
  font-size: 16px;
  font-weight: bold;
}

#header .userTab .depth1 .depth2 li:hover a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: #ffa500;
}
