* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.top_menu {
	width: 1200px;
	margin: 30px auto;
}

.topmenu_main_div {
	margin: 30px 0px;
}

.topmenu_main_div span {
	text-align:center;
	font-size:30px;
	font-weight:bold;
	display:block;
}


.topmenu_list {
	display: flex;
}

.topmenu_list_ul li img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 7px;
	filter: brightness(60%);
}

.topmenu_list_div {
	width: 1200px;
	padding: 30px;
}

.topmenu_list_ul .topmenu_list{
    opacity:0.7;
    transform:scale(0.9);
}

.topmenu_list_ul .slick-center{
    opacity:1;
    transform:scale(1.08);
    //
}

.topmenu_list_ul .topmenu_list {
	font-family: "Noto Sans KR", sans-serif;
	height: 300px;
	line-height: 300px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin:0px 20px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.fa-chevron-right {
	position: absolute;
	z-index:999;
	bottom: 35%;
	right: 31%;
	font-size: 40px;
	color: #ffa500;
	background-color:white;
	width: 70px;
	height: 70px;
	border-radius:50px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.fa-chevron-right:before{
	display:flex;
	justify-content: center;
	line-height: 70px;
}

.fa-chevron-left {
	position: absolute;
	z-index:999;
	bottom: 35%;
	left: 31%;
	font-size: 40px;
	color: #ffa500;
	background-color:white;
	width: 70px;
	height: 70px;
	border-radius:50px;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.fa-chevron-left:before{
	display:flex;
	justify-content: center;
	line-height: 70px;
}

.top_menu_name {
	color: #fff;
	z-index: 9999;
	font-size: 25px;
	position:absolute;
}

.topmenu_list_ul li:hover img {
	transition: all 0.6s;
	transform: scale(1.2);
}

.topmenu_list_ul li:hover .top_menu_gogo {
	transition: all 0.6s;
	opacity: 1;
	transform: translateY(-30px);
}

.top_menu_gogo {
	position: absolute;
	top: 50%;
	opacity: 0;
	color: #fff;
	z-index: 999;
	font-size: 16px;
}