body {
  background-color: #fffdd3;
}

#my_page {
  background-color: #fff;
  margin: 50px auto;
  padding: 50px;
  width: 1500px;
  border: 1px solid #eee;
  border-radius: 15px;
}

.my_page_title {
  text-align: left;
  text-indent: 0.5em;
  padding: 15px 0;
  margin: 0 30px;
  border-bottom: 3px solid #000;
}

#my_page .my_page_content {
  margin: 30px auto;
  display: flex;
  max-width: 1500px;
  justify-content: space-around;
  position: relative;
}

#my_page .my_page_content .my_info {
  font-size: 24px;
  font-weight: bold;
  width: 550px;
  height: 750px;
  border: 3px solid #ddd;
  background-color: #ffe16f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#my_page .my_page_content .hole {
  z-index: 2;
  position: absolute;
  top: 0;
  top: 20px;
  border-radius: 7px;
  width: 80px;
  height: 30px;
  background-color: #fff;
}

#my_page .my_page_content .my_info .title {
  font-size: 30px;
  font-weight: bold;
  width: 230px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background-color: #ffa500;
  position: relative;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}

#my_page .my_page_content .my_info .info_table tr {
  height: 35px;
}

#my_page .my_page_content .my_info .info_table tr td img {
  border: 2px solid #ffa500;
  background-color : #fff;
  width: 350px;
  height: 350px;
}

#my_page .my_page_content .my_info .info_table tr:nth-child(2) td {
  padding: 10px;
  font-size: 45px;
  letter-spacing: 2px;
}

#my_page .my_page_content .my_info .info_table tr:nth-child(3) {
  font-size: 0.9em;
}

#my_page .my_page_content .mod_my_info {
  position: absolute;
  bottom: 30px;
}

#my_page .my_page_content .mod_my_info a {
  text-decoration: underline;
  color: #ff8c00;
  font-size: 20px;
  font-weight: bold;
}

#my_page .my_page_content .mod_my_info a:hover {
  color: #555;
}

#my_page .my_page_content .my_history {
  font-family: "Gamja Flower", sans-serif;
  font-size: 35px;
  font-weight: bold;
  width: 550px;
  height: 750px;
  border: 3px solid #ddd;
  background-color: #ffe16f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#my_page .my_page_content .my_history .horizon {
  position: absolute;
  border: 1px dashed #ddd;
  width: inherit;
}

#my_page .my_page_content .my_history .vertical {
  position: absolute;
  border: 1px dashed #ddd;
  height: inherit;
}

#my_page .my_page_content .my_history .history_table {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  height: inherit;
}

#my_page .my_page_content .my_history .history_table ul {
  width: 50%;
  position: relative;
}

#my_page .my_page_content .my_history .history_table ul:nth-child(1),
#my_page .my_page_content .my_history .history_table ul:nth-child(2) {
  margin-top: 30px;
}

#my_page .my_page_content .my_history .history_table ul li {
  padding: 10px 0;
}

#my_page .my_page_content .my_history .history_table ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

#my_page .my_page_content .my_history .history_table ul li img {
  width: 150px;
  height: 150px;
}

#modify_user {
  background-color: #fff;
  margin: 50px auto;
  padding: 50px;
  width: 1000px;
  border: 1px solid #eee;
}

#modify_user .modify_user_title {
  text-align: left;
  text-indent: 0.5em;
  padding: 15px 0;
  margin: 0 30px;
  border-bottom: 3px solid #000;
}

#modify_user .modify_user_form {
  padding: 50px;
}

#modify_user .modify_user_form .profile_image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
}

#modify_user .modify_user_form .profile_image .photo_file {
  display: none;
}

#modify_user .modify_user_form .profile_image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #bbb;
}

#modify_user .modify_user_form .profile_image i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  display: none;
}

#modify_user .modify_user_form .profile_image:hover img {
  filter: brightness(80%);
}

#modify_user .modify_user_form .profile_image:hover i {
  z-index: 9;
  display: block;
}

#modify_user .modify_user_form .column {
  border: 2px solid #ffe16f;
  background-color: #fdf97e;
  border-radius: 5px;
  width: 500px;
  height: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modify_user .modify_user_form .column .description {
  background-color: #ffe286;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  height: inherit;
  line-height: 50px;
}

#modify_user .modify_user_form .column input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

#modify_user .modify_user_form .email {
  position: relative;
}

#modify_user .modify_user_form .email .caution {
  position: absolute;
  bottom: 120%;
  font-weight: bold;
  font-size: 0.8em;
  color: #666;
}

#modify_user .modify_user_form .email input,
#modify_user .modify_user_form .name input {
  color: #555;
  font-weight: bold;
}

#modify_user .modify_user_form .password_check {
  position: relative;
}

#modify_user .modify_user_form .password_check button {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: #ffa500;
  width: 55px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
}

#modify_user .modify_user_form .address {
  position: relative;
  padding-right: 55px;
}

#modify_user .modify_user_form .address .search {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: #ffa500;
  width: 55px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
}

#modify_user .modify_user_form #map {
  background-color: #000;
  width: 500px;
  height: 300px;
  margin: 30px auto;
}

#modify_user .modify_user_form .button {
  border: 2px solid #fdf97e;
  background-color: #ffe16f;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#modify_user .modify_user_form .cancel {
  border: 2px solid #ffe16f;
  background: none;
}

#my_history_page {
  background-color: #fff;
  margin: 50px auto;
  padding: 50px;
  width: 1200px;
  border: 1px solid #eee;
  border-radius: 15px;
}

.my_history_title {
  text-align: left;
  text-indent: 0.5em;
  padding: 15px 0;
  margin: 0 30px;
  border-bottom: 3px solid #000;
}

#my_history_page .user {
  display: flex;
  align-items: center;
  margin: 30px 50px;
}

#my_history_page .user .photo img {
  width: 70px;
  margin: 0 10px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

#my_history_page .user .user_info {
  margin: 0 20px;
}

#my_history_page .user .user_info .user_name_role {
  text-align: left;
}

#my_history_page .user .user_info .user_name_role .name {
  font-size: 24px;
  font-weight: bold;
}

#my_history_page .user .user_info .user_name_role .role {
  font-size: 14px;
}

#my_history_page .user .user_info .total_history_list {
  margin: 10px 0;
  text-align: left;
}

#my_history_page .user .user_info .total_history_list span {
  font-weight: bold;
}

#my_history_page .my_history_list {
  margin: 20px 50px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ddd;
}

#my_history_page .my_history_list li {
  padding: 10px 30px;
  cursor: pointer;
}

#my_history_page .my_history_list li:hover {
  font-weight: bold;
  color: #666;
  text-decoration: underline;
}

#my_history_page .my_history_list li.on {
  color: #ffa500;
  font-weight: bold;
  text-decoration: underline;
}

#my_history_page #my_history {
  position: relative;
  margin: 20px 60px;
}

#my_history_page #my_history .my_post_table {
  width: 100%;
}

#my_history_page #my_history .my_post_table col:nth-child(1) {
  width: 60px;
}

#my_history_page #my_history .my_post_table col:nth-child(3) {
  width: auto;
}

#my_history_page #my_history .my_post_table col:nth-child(2) {
  width: 150px;
}

#my_history_page #my_history .my_post_table col:nth-child(4) {
  width: 120px;
}

#my_history_page #my_history .my_post_table col:nth-child(5) {
  width: 100px;
}

#my_history_page #my_history .my_post_table col:nth-child(6),
#my_history_page #my_history .my_post_table col:nth-child(7) {
  width: 70px;
}

#my_history_page #my_history .my_post_table thead {
  height: 50px;
  height: 50px;
  border: 2px solid #ffe286;
  background-color: #fdf97e;
}

#my_history_page #my_history .my_post_table thead th {
  border: 2px solid #ffe286;
}

#my_history_page #my_history .my_post_table tbody {
  border: 2px solid #ffe286;
  font-size: 0.9em;
}

#my_history_page #my_history .my_post_table tbody tr {
  height: 50px;
  border-bottom: 1px solid #ffe286;
}

#my_history_page #my_history .my_post_table tbody tr td:nth-child(3) a {
  padding: 0 20px;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

#my_history_page #my_history .my_post_table tbody tr td:nth-child(3):hover {
  font-weight: bold;
  text-decoration: underline;
}

#my_history_page #my_history button {
  position: absolute;
  right: 0;
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #eee;
  font-weight: bold;
  cursor: pointer;
}

#my_history_page #my_history .my_comment_table {
  width: 100%;
}

#my_history_page #my_history .my_comment_table col:nth-child(1) {
  width: 60px;
}

#my_history_page #my_history .my_comment_table col:nth-child(2) {
  width: auto;
}

#my_history_page #my_history .my_comment_table thead {
  height: 50px;
  height: 50px;
  border: 2px solid #ffe286;
  background-color: #fdf97e;
}

#my_history_page #my_history .my_comment_table thead th {
  border: 2px solid #ffe286;
}

#my_history_page #my_history .my_comment_table tbody {
  border: 2px solid #ffe286;
  font-size: 0.9em;
}

#my_history_page #my_history .my_comment_table tbody tr {
  height: 50px;
  border-bottom: 1px solid #ffe286;
}

#my_history_page #my_history .my_comment_table tbody tr td:nth-child(2) a {
  display: block;
  padding: 10px 25px;
}

#my_history_page
  #my_history
  .my_comment_table
  tbody
  tr
  td:nth-child(2)
  a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#my_history_page #my_history .my_comment_table tbody tr td:nth-child(2) a p {
  text-align: left;
  font-size: 13px;
  color: #666;
  padding: 3px;
}

#my_history_page
  #my_history
  .my_comment_table
  tbody
  tr
  td:nth-child(2)
  a
  .comment_content {
  font-size: 17px;
  color: #000;
}

#my_store_page {
  display: flex;
  margin: 50px auto;
  padding: 30px;
  width: 1200px;
  border: 1px solid #eee;
  border-radius: 15px;
  background: #fff;
}

#my_store_page .chatting {
  width: 500px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-right: none;
}

#my_store_page .chatting .chatting_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf97e;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 30px;
}

#my_store_page .chatting .friends .friend {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 20px;
  background-color: #f9f9f9;
  border-bottom: 2px solid #eee;
}

#my_store_page .chatting .friends .friend img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

#my_store_page .chatting .friends .friend div .title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

#my_store_page .chatting .friends .friend div .content {
  font-size: 13px;
  text-align: left;
  padding: 5px 0;
}

#my_store_page .chatting .friends .friend .status {
  position: absolute;
  right: 0;
  padding: 20px;
}

#my_store_page .my_store {
  position: relative;
  background-color: #f9f9f9;
  width: 900px;
  border: 2px solid #ddd;
  border-left: none;
}

#my_store_page .my_store .my_store_title_box .my_store_title {
  font-weight: bold;
  font-size: 30px;
  position: relative;
  padding: 30px 0;
}

#my_store_page .my_store .my_store_title_box .my_store_title .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

#my_store_page .my_store .my_store_title_box .my_store_title .fa-bars {
  position: absolute;
  right: 5%;
}

#my_store_page .my_store hr {
  border: 1px solid #eee;
}

#my_store_page .my_store .stores {
  position: relative;
  overflow-y: scroll;
  height: 600px;
  padding: 0 30px;
}

#my_store_page .my_store .stores::-webkit-scrollbar {
    width:15px;
}

#my_store_page .my_store .stores::-webkit-scrollbar-thumb {
     background-color: #999;
     height: 50px;
     border-radius: 10px;
}

#my_store_page .my_store .stores::-webkit-scrollbar-track{
    background-color: #f9f9f9;
}

#my_store_page .my_store .stores .request {
  height: 100px;
}

#my_store_page .my_store .stores .request .my_message {
  display: block;
  position: absolute;
  right: 26%;
  font-size: 18px;
  width: 350px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #fef01b;
  margin: 50px 0;
}

#my_store_page .my_store .stores .request .my_message::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 100%;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 30px solid #fef01b;
  border-right: 10px solid transparent;
}

#my_store_page .my_store .stores .request img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ddd;
  position: absolute;
  right: 0;
  margin: 30px;
}

#my_store_page .my_store .stores .one_store {
  display: flex;
  align-items: center;
  margin: 60px 0;
}

#my_store_page .my_store .stores .one_store:nth-child(1) {
  margin-top: 0;
}

#my_store_page .my_store .stores .one_store img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #ddd;
}

#my_store_page .my_store .stores .one_store .store_info .name {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 30px;
  text-align: left;
}

#my_store_page .my_store .stores .one_store .store_info ul {
  background-color: #fff;
  width: auto;
  border-radius: 15px;
  margin: 0 40px;
  padding: 10px 25px;
  position: relative;
}

#my_store_page .my_store .stores .one_store .store_info ul::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 100%;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 30px solid #fff;
}

#my_store_page .my_store .stores .one_store .store_info ul li {
  text-align: left;
  padding: 3px 0;
  font-size: 18px;
}

#my_store_page .my_store .stores .one_store .store_info ul li.phone {
  font-size: 16px;
}

#my_store_page .my_store .stores .one_store .store_info ul li:last-child p {
  text-align: right;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
}

#my_store_page
  .my_store
  .stores
  .one_store
  .store_info
  ul
  li:last-child
  p:hover
  a,
#my_store_page
  .my_store
  .stores
  .one_store
  .store_info
  ul
  li:last-child
  p:hover
  i {
  color: #ffa500;
  text-decoration: underline;
}
