.find_password_modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 340px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.find_password_modal .modal_body {
    height: 220px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find_password_modal .modal_body #find_password_form .input_box {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 50px;
    background: #fdf97e;
    border-radius: 8px;
    border: 2px solid #ffe286;
}

.find_password_modal .modal_body #find_password_form .key {
    display: flex;
    width: 100px;
    justify-content: center;
    font-size: 13px;
    font-weight: bolder;
    align-items: center;
    background-color: #ffe286;
    border-radius: 5px 0 0 5px;
}

.find_password_modal .modal_body #find_password_form .input_area {
    height: 50px;
    margin-left: 20px;
    width: 305px;
    background-color: inherit;
    border: none;
    font-size: 12px;
    outline: none;
    text-align: left;
}

.find_password_modal .modal_body #find_password_form h4 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find_password_modal .modal_body #find_password_form #email_area {
    height: 75px;
}

.find_password_modal .modal_body #find_password_form #submit_find_password {
    width: 505px;
    height: 50px;
    background-color: #ffe286;
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    outline: none;
}

.find_password_modal .modal_body #find_password_form #submit_find_password:hover {
    color: #ffe286;
    background-color: darkgray;
    cursor: pointer;
}