h1{
    padding-top: 40px;
    margin: 0 auto;
    width: 800px;
    font-size: 100px;
    color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 10px;
    text-align: center;
}